<?xml version="1.0"?>

<!--TS 2015-->
<configuration>
  <appSettings>
    <add key="Notches" value="11"/><!--Wos 7-->
    <add key="Up" value="a"/>
    <add key="Down" value="d"/>
    <add key="KeyDownTime" value="100"/> <!--Wos 30-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>





<!--WOS-->
<!--
<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Notches" value="7"/>
    <add key="Up" value="a"/>
    <add key="Down" value="d"/>
    <add key="KeyDownTime" value="30"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
-->